/**
 * Extra styles for sidebar template
 *
 * @author Christopher Smith <chris@jalakai.co.uk>
 */

/* dokuwiki containers & styles */

/* sidebar orientation and position */
#sidebar {
  width:210px; 
  min-width:210px;
  margin:10px;
  margin-right: -250px;
  padding:10px;
  background: __background_alt__ url('images/bigsplodge50.png') no-repeat;
  background-position: bottom left;
  border: 1px solid __border__;
  float: left;
}

#sidebartop {
  position: absolute;
  top: -1.3em;
  width: 101%;
  height: 1.3em;
  background: __background_alt__;
}

/* Rounded box additions - karate corners
 * http://www.kyleschaeffer.com/tutorials/karate-corners-easy-rounded-corners-xhtml-no-script/
 */

.cornerBox { position: relative; background: #cfcfcf; width: 100%; }
.corner { position: absolute; width: 10px; height: 10px; background: url('images/corners.gif') no-repeat; font-size: 0%; }
.cornerBoxInner { padding: 5px; }
.TL { top: -1px; left: -1px; background-position: 0 0; }
.TR { top: -1px; right: -1px; background-position: -10px 0; }
.BL { bottom: -1px; left: -1px; background-position: 0 -10px; }
.BR { bottom: -1px; right: -1px; background-position: -10px -10px; }

/* Rounded box additions - one gif
 * http://www.456bereastreet.com/lab/teaser/one_image/
 */
/*
	.teaser {
		width:200px;
		padding:0 0 14px 0;
		margin:10px auto;
		background:url("images/sidebar.gif") bottom left no-repeat;
	}
	.teaser h3 {
		margin:0;
		padding:7px 10px 3px 10px;
		background:url("images/sidebar.gif") top left no-repeat;
	}
	.teaser p, .teaser a.more {
		margin:0;
		padding:0 10px 3px;
		border:1px solid #d8d8d8;
		border-width:0 1px;
		background:#fff;
	}
*/

/* Rounded box additions - overlay
 * http://www.dave-woods.co.uk/?p=207
 */
/*
.tl, .tr, .bl, .br {
background: url(images/corners.gif);
width: 10px;
height: 10px;
font-size: 0;
}

.tl, .bl {
float: left;
}
.tr, .br {
float: right;
}

.box-content {
clear: both;
padding: 0 10px;
overflow: hidden;
}
* html .box-content {
height: 1%;
}
*/

/* sidebar contents */
#sidebar {
    font-size:10px;
}

#sidebar a {
    color: __existing__;
}

#sidebar a.wikilink2 {
    color: __text_neu__;
}

#sidebar a.wikilink2:hover {
    text-decoration:none; 
    cursor:default;
}

#sidebar h1 {
    font-size:140%; 
    margin-left: 0px; 
    padding-left: 2px; 
    font-weight:bold; 
    padding-bottom:0; 
    background-color: __background_alt__;
}
#sidebar h2 {
    font-size:120%; 
    margin-left: 4px; 
    font-weight:bold; 
    padding-bottom:0;
}
#sidebar h3 {
    font-size:120%; 
    margin-left: 8px; 
    font-weight:normal; 
    padding-bottom:0;
}
#sidebar h4 {
    font-size:100%; 
    margin-left: 12px; 
    font-weight:bold; 
    padding-bottom:0;
}
#sidebar h5 {
    font-size:100%; 
    margin-left: 16px; 
    font-weight:normal; 
    padding-bottom:0;
}
#sidebar .toc {
    display:none;
}

#sidebar .secedit {
}

/* reduced section indentation */
#sidebar div.level1 {margin-left: 2px;}
#sidebar div.level2 {margin-left: 6px;}
#sidebar div.level3 {margin-left: 10px;}
#sidebar div.level4 {margin-left: 14px;}
#sidebar div.level5 {margin-left: 18px;}

/* IE fixes (hide from IE Mac) \*/

* html .page .toc {height:1px}    /* General Dokuwiki fix. IE needs this to always display TOC contents \*/
* html pre {width:95%;}           /* General Dokuwiki fix - very important for Sidebar. IE needs this to get the overflow:auto style to kick in \*/
* html .stylehead {height:1px;}   /* Get IE in hasLayout mode to ensure the background covers the whole element \*/

* html .sidebar_inside_left .page, * html .sidebar_inside_right .page, 
* html .sidebar_inside_left .meta, * html .sidebar_inside_right .meta {
    width: 77%;                   /* IE needs extra gap to ensure #sidebar & .page float next to each other \*/
    overflow-x: auto;             /* IE proprietary property to prevent wide images in wiki page forcing sidebar down below wiki page \*/
                                  /* 'overflow-x:auto;' maybe replaced by 'overflow:auto;' to ensure template passes w3c validation \*/
}

/* (end IE Mac hiding) */
